name: Build Android APK
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Build for Android
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          # Dosyaların ana dizinde olduğu için '.' koyduk
          workdir: .
          buildozer_version: stable

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nkilit-package
          # Çıktı dosyasını otomatik yakalar
          path: ${{ steps.buildozer.outputs.filename }}
